:root {
  --accent-color: #FBF303; /* yellow: #FBF303, spring teal: #0EA7A5 */
  --code-background: rgb(230 229 224); /*#e1e1e1 #FFFDBD;*/
  --light-grey: #C2C2C2;
}

/* Fonts */
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bold {
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

pre {
  white-space: pre-wrap;
  color: black;
  display: inline;
  background-color: var(--code-background) !important;
  border-radius: 5px;
}

.code {
  padding: 0.5rem;
  background-color: var(--code-background);
  border-radius: 3px;
}

.logo-title {
  font-size: 1.5rem;
}

/* General */
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

.z-1 {
  position: relative;
  z-index: 1;
}

/* Colors */
.black-bg-color {
  background-color: #000209;
}

.yellow-bg-color {
  background-color: var(--accent-color);
}

.light-grey-bg-color {
  background-color: #EFF3F4;
}

.dark-grey-bg-color {
  background-color: #DADEDF;
}

.text-yellow {
  color: var(--accent-color);
}

/* Section: Navbar */
#navbar {
  background-color: black;
  color: white;
}

/* Card components */
.grey-card {
  border: 1px solid #000209;
  background-color: #EFF3F4;
  box-shadow: -10px -10px #DADEDF;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: black;
}

.card-header {
  background-color: #EFF3F4;
  padding-top: 1rem;
  /*padding-bottom: 1rem;*/
  position: sticky;
  top: 0;
  z-index: 5;
}

.card-title {
  font-size: 1.5rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}

.card-section {
  font-size: 1.25rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

/* Complexity colors */
.gray {
  border: 1px solid #adadad;
  color: black;
  background-color: #e3e3e3;
}

.green {
  border: 1px solid #286500;
  color: black;
  background-color: #53d000;
}

.yellow-green {
  border: 1px solid #286500;
  color: black;
  background-color: #C8EA00;
}

.yellow {
  border: 1px solid #6f6e00;
  color: black;
  background-color: yellow;
}

.orange {
  border: 1px solid #b20000;
  color: black;
  background-color: #FFC543;
}

.red {
  border: 1px solid #b20000;
  color: black;
  background-color: #ff8989;
}

/*.nav-link {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}*/

.nav-link-override {
  color: white;
}

.nav-link-override:hover {
  color: var(--light-grey);
}

.suprascript {
  vertical-align: super;
  font-size: small;
}

.title-anchor {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.graphics {
  width: 400px;
  max-width: 100%;
}