:root {
  --accent-color: #FBF303; /* yellow: #FBF303, spring teal: #0EA7A5 */
  --light-grey: #C2C2C2;
}

/* Fonts */
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bold {
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

pre {
  white-space: pre-wrap;
  color: black;
  display: inline;
}

.logo-title {
  font-size: 1.5rem;
}

/* General */
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

.z-1 {
  position: relative;
  z-index: 1;
}

.pill-button {
  border-radius: 500px;
}

.anchor-parent {
  position: relative;
}

.subsection-header {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.relative-title {
  position: relative;
  top: -5px;
}

.timeline {
  border-left: 1px solid black;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  margin-left: -5px;
}

/* Colors */
.black-bg-color {
  background-color: #000209;
}

.yellow-bg-color {
  background-color: var(--accent-color);
}

.light-grey-bg-color {
  background-color: #EFF3F4;
}

.dark-grey-bg-color {
  background-color: #DADEDF;
}

.text-yellow {
  color: var(--accent-color);
}

/* Section: Navbar */
#navbar {
  background-color: black;
  color: white;
}

/* Section: Ribbon */
#skills-ribbon {
  background-color: #000209;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  width: 100%;
}

/* Section: About */
#yellow-circle-about {
  background-color: var(--accent-color);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: -60px;
  z-index: 0;
}

/* Section: Projects */
.yellow-tag-accent {
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -35%;
  z-index: 0;
}

.link-icon {
  top: 10px;
  right: 10px;
  color: white;
}

.grey-card {
  border: 1px solid #000209;
  background-color: #EFF3F4;
  box-shadow: -10px -10px #DADEDF;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: black;
}

.card-title {
  font-size: 1.5rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}

.card-section {
  font-size: 1.25rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

#toc {
  list-style-type: none;
}

.gray {
  border: 1px solid #adadad;
  color: black;
  background-color: #e3e3e3;
}

.green {
  border: 1px solid #286500;
  color: black;
  background-color: #53d000;
}

.yellow-green {
  border: 1px solid #286500;
  color: black;
  background-color: #C8EA00;
}

.yellow {
  border: 1px solid #6f6e00;
  color: black;
  background-color: yellow;
}

.orange {
  border: 1px solid #b20000;
  color: black;
  background-color: #FFC543;
}

.red {
  border: 1px solid #b20000;
  color: black;
  background-color: #ff8989;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.suprascript {
  vertical-align: super;
  font-size: small;
}

.title-anchor {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.graphics {
  width: 400px;
  max-width: 100%;
}